html, body{
  background-color: gray;
  margin: 0px;
}

#navbar{
  background-color: black;
  margin: 0px;
  top: 0px;
}

#ace, #blockly-div {
    float: right;
    right: 0;
    width: 100%;
    height: 80%;
    display: inline-block;
}

#myIFrame{
  height: 100%;
  float: left;
  left: 0;
  width: 60%;
  display: inline-block;
}

#websimframe{
  height:100%
  position: absolute;
}

#container{
  width: 100%;
  height: 100vh;
  display: inline-block;
}

#right-container{
  float:right;
  width:40%;
  height: 100%;
  display: block;
}
#cameras{
  display: flex;
}

#runbtn {
    background-color: #e6e6e6;
    color: black;
    border: 2px solid #ACFF00;
}

#runbtn:hover {
    background-color: #ACFF00;
    color: white;
}

#cambtn {
    background-color: #e6e6e6;
    color: black;
    border: 2px solid #6b38d1;
}

#cambtn:hover {
    background-color: #6b38d1;
    color: white;
}
#cambtn>img{
  width: 36px;
  height: 36px;
}

#pythonbtn {
    background-color: #e6e6e6;
    color: black;
    border: 2px solid #b366ff;
}

#pythonbtn:hover {
    background-color: #b366ff;
    color: white;
}

#nav-button-container{
  margin-top: auto;
  margin-bottom: auto;
  float: right;
  margin-left: 2px;
  margin-right: 2px;
  height: 100%;
}

button {
    border-radius: 10px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.1s;
    cursor: pointer;
}
