html, body{
  background-color: gray;
  margin: 0px;
}

#navbar{
  background-color: black;
  margin: 0px;
  top: 0px;
}

#ace, #blockly-div {
    float: right;
    right: 0;
    width: 30%;
    height: 100%;
    display: inline-block;
}

#myIFrame{
  height: 100%;
  float: left;
  right: 50%;
  left: 0;
  width: 70%;
  display: inline-block;
}

#websimframe{
  height:100%
  position: absolute;
}
#container{
  width: 100%;
  height: 100vh;
}

button{
  float: right;
  margin: 2px;
}
